# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Compiled source
*.mexa64
*.mexw64
*.asv

# Sphinx documentation
docs/_build/

# Windows shortcuts
*.lnk

# temporary emacs
*~

# python and jupyter
jupyter/.ipynb_checkpoints/
jupyter/__pycache__/
.ipynb_checkpoints/
__pycache__/
dist/
.eggs/
.vscode/
build/
FaceMap/ops_user.npy
*.pth
*.pt
*.sh
*.pkl
*.h5
*.mp4 
#
# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
